node_modules
/dist
/src-tauri/target
.DS_Store
*.log
/docs/*
!/docs/testing/
/docs/testing/*
!/docs/testing/behavioral-testing.md

# Paddle Licensing
scripts/generate_keys/paddle_licenses.txt
scripts/generate_keys/target
/paddle_licenses.txt

# Local Netlify folder
.netlify
.env.local
.env.build
